.card_wrapper{
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    background: #fff;
}
.column_heading{
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    background: #773bb0;
    color: #fff;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.stageContainer{
    float:left;
    border: 1px solid #d8dde6;
    margin: 0.05rem;
    border-radius: .5rem;
}
